@namespace Skclusive.Material.Docs.App.View

<div
    style="width: 100%;">
    <Accordion>
        <SummaryContent>
            <AccordionSummary>
                <IconContent>
                    <ExpandMoreIcon />
                </IconContent>
                <ChildContent>
                    <Typography
                        Style="font-size: 0.9375rem;font-weight: 400;">
                        Accordion 1
                    </Typography>
                </ChildContent>
            </AccordionSummary>
        </SummaryContent>
        <ChildContent>
            <AccordionDetails>
                <Typography>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex,
                sit amet blandit leo lobortis eget.
                </Typography>
            </AccordionDetails>
        </ChildContent>
    </Accordion>
    <Accordion>
        <SummaryContent>
            <AccordionSummary>
                <IconContent>
                    <ExpandMoreIcon />
                </IconContent>
                <ChildContent>
                    <Typography
                        Style="font-size: 0.9375rem;font-weight: 400;">
                        Accordion 2
                    </Typography>
                </ChildContent>
            </AccordionSummary>
        </SummaryContent>
        <ChildContent>
            <AccordionDetails>
                <Typography>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex,
                sit amet blandit leo lobortis eget.
                </Typography>
            </AccordionDetails>
        </ChildContent>
    </Accordion>
    <Accordion
        Disabled="true">
        <SummaryContent>
            <AccordionSummary>
                <IconContent>
                    <ExpandMoreIcon />
                </IconContent>
                <ChildContent>
                    <Typography
                        Style="font-size: 0.9375rem;font-weight: 400;">
                        Disabled Accordion
                    </Typography>
                </ChildContent>
            </AccordionSummary>
        </SummaryContent>
    </Accordion>
</div>
