@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Accordion Blazor component
components: Grow, Accordion
---

# Accordion

<p class=""description"">Accordions contain creation flows and allow lightweight editing of an element.</p>

An accordion is a lightweight container that may either be used standalone, or be connected to a larger surface, such as a card.

")" />
