@namespace Skclusive.Material.Docs.App.View

<MarkdownSegment
    Text="@(@"
---
title: Tooltip Blazor component
components: Grow, Tooltip
---

# Tooltip

<p class=""description"">Tooltips display informative text when users hover over, focus on, or tap an element.</p>

When activated, Tooltips display a text label identifying an element, such as a description of its function.

")" />
