@namespace Skclusive.Material.Docs.App.View

<div
    style="width: 300px;">
    <Skeleton />
    <Skeleton
        Animation="@SkeletonAnimation.Wave" />
    <Skeleton
        Animation="@SkeletonAnimation.None" />
</div>
